<h2><%= context_title @tag || t('.recipes') %></h2>
<% context_action t('.new_recipe'), new_recipe_path, :plus %>

<div class="ui four column doubling stackable grid">
  <% @recipes.each do |recipe| %>
    <div class="column">
      <%= present(recipe).as_card %>
    </div>
  <% end %>
</div>

<%= paginate @recipes %>
