<h2><%= context_title t('.users') %></h2>

<div class="ui four column doubling stackable grid">
  <% @users.each do |user| %>
    <div class="column">
      <%= present(user).as_card %>
    </div>
  <% end %>    
</div>

<%= paginate @users %>
