<h2><%= context_title @user.name %></h2>
<% edit_context_action @user %>
<% destroy_context_action @user, :name %>

<div class="ui grid">
  <div class="stackable doubling four column row">
    <div class="column">
      <%= present(@user).as_card %>
    </div>
  </div>
</div>
