<h2><%= context_title @user.name %></h2>
<% context_action t('.edit'), edit_user_path(@user), :write %>
<% context_action t('.delete'), '#', :remove %>
<%= delete_modal(@user, :name) %>


<div class="ui grid">
  <div class="stackable doubling four column row">
    <div class="column">
      <%= present(@user).as_card %>
    </div>
  </div>
</div>
