<%= form_for(@setting, url: setting_path(@setting.var), method: 'patch', html: { class: 'ui form' } ) do |f| %>
	
  <div class="field">
    <%= f.label @setting.var %>
    <%= f.text_area :value, rows: Setting.text_rows %>
  </div>

  <div class="buttons">
    <%= f.submit class: 'ui primary button' %>
  </div>
<% end %>
