<div class="ui right vertical menu sidebar">
  <div class="item">
    <div class="header">Actions</div>
    <div class="menu">
      <%= yield(:actions) %>
    </div>
  </div>
  <div class="item">
    <div class="header">Administration</div>
    <div class="menu">
      <%= context_menu 'Units', units_path, 'calculator' %>
      <%= context_menu 'Settings', settings_path, 'settings' %>
      <%= context_menu 'Activities', activities_path, 'list' %>
    </div>
  </div>
</div>
