<footer>
  <div class="ui padded grid">
    <div class="three column row">
      <div class="column">
        <h3>About</h3>
        Lorem Ipusum
        Lorem Ipusum
      </div>
      <div class="column">
        <h3>Column 2</h3>
        Lorem Ipusum
        Lorem Ipusum
        Lorem Ipusum
        Lorem Ipusum
      </div>
      <div class="column">
        <h3>Column 3</h3>
        Lorem Ipusum
        Lorem Ipusum
      </div>
    </div>
  </div>
</footer>
	
