      <div class="menu">
        <%= context_menu 'Units', units_path, 'calculator' %>
        <%= context_menu 'Users', users_path, 'users' %>
        <%= context_menu 'Activities', activities_path, 'list' %>
      </div>
